<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> 
         <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/base-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
        <link rel="stylesheet" href="css/main.css">
        
    </head>
    <body>
        <div class="navbar">
            <div class="nav-menu">
               <h2><a href="/">Home</a></h2>
            </div>
        </div>
        <div class="container">
            {{{body}}}
        </div>
            
    <footer class="footer">
        <p> Copywrite {{title}} | <a href="/tickets">Tickets</a> | <a href="/ticketsfor/naman">Naman's Tickets</a> </p>
    </footer>

    </body>
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
</html>
