<div class="send-ticket-container">
    <h1> Submit a Query </h1>
    <div class="send-ticket-form">
        <form id="send-form" method="POST" action="/">
            <input name="title" type="text" placeholder="Title of Query" />
            <input name="email" type="email" placeholder="Your Email" />
            <textarea name="description" type="text" placeholder="Description of Query"></textarea> <br/>
            <input type="submit" value="Submit" />
        </form>
        <br />
        <h2> Your ticket is {{ticket}} </h2>
     </div>

</div>



